<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="'Имя: ' + ${person.getName()}">VALUE</p>
<p th:text="'Возраст: ' + ${person.getAge()}">VALUE</p>
<p th:text="'Email:' + ${person.getEmail()}">VALUE</p>
<div th:if="${books.isEmpty()}">
    <p>Человек не взял ни одной книги</p>
    <hr/>
</div>


<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', '+ book.getAuthor() + ', ' + book.getAge()}">book</tr>
    </table>
    <hr/>
</div>

<!--<a th:href="@{/people/{id}/edit (id=${person.getId()})}">Edit</a>-->
<form th:method="GET" th:action="@{/people/{id}/edit (id=${person.getId()})}">
    <input type="submit" value="Изменить">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>